ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }


li{
    margin: 10px;
    padding: 20px;
    display: block;
    width: 120px;
}

table, th, td {
    border: 5px solid;
    padding: 20px;
    margin: 20px;
    border-collapse: collapse;
    width: 120px;
    text-align: center;
    height: 40px;
  }

  .dropbtn {
    background-color: #000000;
    color: rgb(253, 253, 253);
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 15%;
  }
  


  .quote{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }


  .dropdown {
    position: relative;
    display: inline;
    font-size: x-large;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(216, 248, 9);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: larger;
  }
  
  .dropdown-content a:hover {background-color: #0b0a0a}
  
  .dropdown:hover .dropdown-content {
    display: inline;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ff5500;

  }

  h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    display: inline;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }