ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    background-color: black;
    line-height: 2.5;
    word-spacing: 5px;
    text-shadow: 1px 1px 4px yellow;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 18px;
    
    
  }

  li {
    display: inline;
    border-right: 1px solid #fafafa;   
    border-radius:50px;
    width: 100px;
    
  }

  a {
    display: inline;
    padding: 10px;
    margin: 0px;
    width: 100px;
    background-color: #0a0a0a;
    color: #fafafa;
 
  }

  li a:hover {
    background-color: hsl(235, 100%, 54%);
  }


  #main-title{
    font-size:70px;
    text-align: center;
    text-decoration:wavy;
    padding: 15px;
    width: 100%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    line-height: 50px;
  }

  .number{
    height:3px;
    width: 3px;
  }

  .typeofnumber{
    display: inline;
  }

